<h2>Start Workout</h2>
<div class="saved-workouts">
  <mat-card *ngFor="let workout of savedWorkouts" (click)="onSelect(workout)" [class.selected]="workout === selectedWorkout">
    <mat-card-title>{{ workout.name }}</mat-card-title>
    <mat-card-content>
      <ul>
        <li *ngFor="let exercise of workout.exercises">{{ exercise.name }}</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
<!-- ... -->

<div *ngIf="selectedWorkout" class="selected-workout">
  <div class="timer">
    <h3>Workout Time: {{ workoutTimeDisplay }}</h3>
    <button mat-raised-button color="primary" (click)="startWorkout()">Start Workout</button>
    <button mat-raised-button color="warn" (click)="endWorkout()">End Workout</button>
  </div>
  <h2 class="dark-text">Selected Workout: {{ selectedWorkout.name }}</h2>
  <div *ngFor="let exercise of selectedWorkout.exercises" class="exercise">
    <h3 class="dark-text">{{ exercise.name }}</h3>
    <button mat-raised-button color="primary" (click)="addSet(exercise)">Add set</button>
    <div *ngFor="let set of exercise.sets" class="set-inputs">
      <mat-form-field appearance="outline">
        <mat-label class="dark-text">Weight (kg)</mat-label>
        <input class="dark-text" matInput [(ngModel)]="set.weight" type="number" step="0.1" min="0">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label class="dark-text">Reps</mat-label>
        <input class="dark-text" matInput [(ngModel)]="set.reps" type="number" step="1" min="1">
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="saveWorkoutSession()">Save Workout Session</button>
</div>

